.cuvr-view {
	position: relative;
	overflow: hidden;
}

.cuvr-cube {
	-webkit-transform-style: preserve-3d;
	-webkit-transition-timing-function: linear;
	-moz-transform-style: preserve-3d;
	-moz-transition-timing-function: linear;
}

.cuvr-face {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
}
